@{
    ViewBag.Title = "Confirm Email";
}

<div class="col-md-6 col-md-push-3">
    <div class="card">
        <div class="card-header">
            <img class="pic-smaller" src="~/Content/Images/logo_sticks.jpeg" />
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="card-content">
            <br />
            <div>
                <p>
                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>
