@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="col-md-6 col-md-push-3">
    <div class="card">
        <div class="card-header">
            <img class="pic-smaller" src="~/Content/Images/logo_sticks.jpeg" />
            <h2>@ViewBag.Title</h2>
        </div>
        <div>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>