@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-md-8 col-md-push-2">
        <div class="card">
            <div class="card-header">
                <img class="pic-smaller" src="~/Content/Images/phone_icon.png" />
                <h2>Contact</h2>
            </div>
            <div class="card-content">
                <table class="table info-table">
                    <tr>
                        <td>
                            <p><b>Coach</b></p>
                        </td>
                        <td>
                            <p>Grant Harvey</p>
                        </td>
                        <td>
                            <p>(505) 977-9845</p>
                        </td>
                        <td>
                            <p>ghd8989@msn.com</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Assistant Coach</b></p>
                        </td>
                        <td>
                            <p>Miles Harvey</p>
                        </td>
                        <td>
                            <p>(505) 720-5073</p>
                        </td>
                        <td>
                            <p>mharvey64@gmail.com</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Team Manager</b></p>
                        </td>
                        <td>
                            <p>Grant Harvey Sr.</p>
                        </td>
                        <td>
                            <p>(505) 304-3978</p>
                        </td>
                        <td>
                            <p>biggcanuck@comcast.net</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Team Captain</b></p>
                        </td>
                        <td>
                            <p>Austin Short</p>
                        </td>
                        <td>
                            <p>(505) 803-7468</p>
                        </td>
                        <td>
                            <p>austinshort1@gmail.com</p>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>