
@{
    ViewBag.Title = "Video";
}
<div class="row">
    <div class="col-md-8">
        <div class="card video-card" name="latestVideo">
            <div class="card-header">
                <img src="~/Content/Images/video_icon.png" />
                <h2>Featured Video</h2>
            </div>
            <div class="card-content">
                <br />
                <div class="row">
                    <center>
                        <div class="col-md-12">
                            <div class="fb-video" data-href="https://www.facebook.com/Loboshockeynetwork/videos/vb.1466348933442094/1470626879680966/?type=2&amp;theater" data-width="900" data-show-text="false"><blockquote cite="https://www.facebook.com/Loboshockeynetwork/videos/1470626879680966/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Loboshockeynetwork/videos/1470626879680966/">Lobo hockey skirmish</a><p>Good afternoon Lobo nation! We apologize about the delay, but we wanted to give you the best! As promised here is the drone video that was put together by our production manager Julian!</p>Posted by <a href="https://www.facebook.com/Loboshockeynetwork/">Lobos Hockey Network</a> on Monday, September 18, 2017</blockquote></div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" name="facebook">
            <div class="card-header">
                <img onclick="location.href='http://www.facebook.com/loboshockeynetwork'" src="~/Content/Images/facebook_icon.png" />
                <h2 onclick="location.href = 'http://www.facebook.com/loboshockeynetwork'">Recent Posts</h2>
            </div>
            <div class="card-content">
                <div class="row">
                    <center>
                        <div class="col-md-12">
                            <div class="fb-page" data-href="https://www.facebook.com/loboshockeynetwork" data-tabs="timeline" data-width="9000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/loboshockeynetwork" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/loboshockeynetwork">Lobos Hockey Network</a></blockquote></div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card video-card" name="latestVideo">
            <div class="card-header">
                <img src="~/Content/Images/video_icon.png" />
                <h2>Featured Video</h2>
            </div>
            <div class="card-content">
                <br />
                <div class="row">
                    <center>
                        <div class="col-md-12">
                            <div class="fb-video" data-href="https://www.facebook.com/Loboshockeynetwork/videos/vb.1466348933442094/1471395536270767/?type=2&theater" data-width="9000" data-show-text="false"><blockquote cite="https://www.facebook.com/Loboshockeynetwork/videos/1470626879680966/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Loboshockeynetwork/videos/1470626879680966/">Lobo hockey skirmish</a><p>Good afternoon Lobo nation! We apologize about the delay, but we wanted to give you the best! As promised here is the drone video that was put together by our production manager Julian!</p>Posted by <a href="https://www.facebook.com/Loboshockeynetwork/">Lobos Hockey Network</a> on Monday, September 18, 2017</blockquote></div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card video-card" name="latestVideo">
            <div class="card-header">
                <img src="~/Content/Images/video_icon.png" />
                <h2>Featured Video</h2>
            </div>
            <div class="card-content">
                <br />
                <div class="row">
                    <center>
                        <div class="col-md-12">
                            <div class="fb-video" data-href="https://www.facebook.com/Loboshockeynetwork/videos/vb.1466348933442094/1468296916580629/?type=2&theater" data-width="9000" data-show-text="false"><blockquote cite="https://www.facebook.com/Loboshockeynetwork/videos/1470626879680966/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Loboshockeynetwork/videos/1470626879680966/">Lobo hockey skirmish</a><p>Good afternoon Lobo nation! We apologize about the delay, but we wanted to give you the best! As promised here is the drone video that was put together by our production manager Julian!</p>Posted by <a href="https://www.facebook.com/Loboshockeynetwork/">Lobos Hockey Network</a> on Monday, September 18, 2017</blockquote></div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>